<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Matt Gross</title>
    <meta name="description" content="The personal website of Matt Gross" />
    <meta name="author" content="Matt Gross" />
    <meta name="copyright" content="Matt Gross" />
    <meta name="robots" content="follow" />

    <link rel="stylesheet" href="https://use.typekit.net/lbg5bhb.css" />
  </head>
  <body>
    <div id="root" class="margin-off container">
      <h1 class="loader">MattGross.io is loading...</h1>
    </div>
  </body>
</html>
