:root {
  --background: #eee;
  --color: #444;
  --color-shadow: #ccc;

  @media (prefers-color-scheme: dark) {
    --background: #444;
    --color: #fff;
    --color-shadow: #777;
  }

  --spacer: 1.5em;
  --spacer-2x: 3em;
}
