.footer-frame {
  position: fixed;
  bottom: 0;
  right: 0;
}

.footer {
  padding: 0.5em 0.8em;
  color: var(--fg-low-contrast);
}

.copyright {
  transform: rotate(90deg) translateX(1em);
  transform-origin: top right;
  font-size: 0.8em;
}
