.header {
  padding: var(--frame-inner-padding);
  position: relative;
}

.header::before {
  --notch-size: 10px;

  content: '';
  background-color: var(--caution-yellow);
  /* Caution stripes? */
  background: 
    /* stripe on bottom edge */ repeating-linear-gradient(
      -45deg,
      var(--caution-yellow),
      var(--caution-yellow) calc(var(--notch-size)),
      transparent calc(var(--notch-size)),
      transparent 100%
    ),
    /* Stripes on horizontal edges */
      repeating-linear-gradient(
        -90deg,
        var(--caution-yellow),
        var(--caution-yellow) 2px,
        transparent 2px,
        transparent calc(var(--notch-size) - 2px)
      ),
    /* Stripes down middle */
      repeating-linear-gradient(
        45deg,
        transparent,
        transparent 4px,
        var(--caution-yellow) 4px,
        var(--caution-yellow) 8px
      )
      0 -2px;
  transform: translateZ(0);
  position: absolute;
  top: 0;
  bottom: 0;
  /* Match vertical frame padding */
  left: -2em;
  width: var(--notch-size);
  /* Match vertical header padding */
  clip-path: polygon(
    0 0,
    100% var(--notch-size),
    100% calc(100% - var(--notch-size)),
    0 100%
  );
}

.tagline {
  padding: 0.5em 0;
  color: var(--fg-low-contrast);
}

@media (max-width: 400px), (max-height: 400px) {
  .header::before {
    left: -1em;
  }
}
