.meta {
  position: fixed;
  bottom: 32px;
  inset-inline: 24px;
  opacity: 0;
  transform: translateY(16px);

  display: flex;
  justify-content: space-between;
  gap: 8px;
}

@media (max-width: 600px) {
  .meta {
    flex-direction: column;
    align-items: start;
  }
}
