.root {
  --border-radius: 0.5em;

  height: 100vh;
  width: 100vw;
  background-color: var(--bg);
  animation: 0.5s ease root-in;
}

/* Give a fade-in since the first frame is a giant wall of color */
@keyframes root-in {
  0% {
    opacity: 0%;
  }
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1em;
  padding-bottom: 10em;
}

button.plain {
  appearance: none;
  font: inherit;
  border: none;
  background-color: transparent;
  color: inherit;
}

/* Meta intro timing */
.meta {
  background-color: var(--bg-high-contrast);
  box-shadow: 0 0 0 2em var(--bg-high-contrast);
  animation: 0.5s meta-in var(--bezier) forwards;
}

@keyframes meta-in {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
