.nav-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  padding: var(--frame-inner-padding);
  border-radius: 4px;
  transition: 0.3s ease;
}

.nav-link:is(:hover, :focus) {
  box-shadow: 0 0 10px 0 var(--fg-shadow);
  outline: none;

  /* animation: 1.5s ease gradient-swirl; */
}

/* @keyframes gradient-swirl {
  0% {
    background: conic-gradient();
  }
} */
