.animated-bg {
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc(-200vh + 50%);
    width: 200vh;
    height: 200vh;
    border-radius: 100%;
  }

  &::before {
    animation: 20s infinite linear swirlingCircle;
    background: var(--background-animated);
  }

  &::after {
    animation: 15s infinite linear swirlingCircle;
    background: var(--background-animated);
  }
}

@keyframes swirlingCircle {
  0% {
    transform: rotate(0deg) translateX(24px);
  }

  50% {
    transform: rotate(180deg) translateX(24px);
  }

  100% {
    transform: rotate(360deg) translateX(24px);
  }
}
