/**
 * General Styles
 * --------------------------------------------------------
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: var(--transition-basic);
  color: var(--color);
}

* + * {
  margin-top: var(--spacer);
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + * {
  margin-top: 0;
}

.margin-half > * + * {
  margin-top: var(--spacer-half);
}

.margin-off > * + * {
  margin-top: 0;
}
div + div {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-high-contrast);
  font-weight: 600;
  line-height: 1.5em;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
}

h3,
h4,
h5 {
  font-size: 1em;
}

a {
  color: var(--color-high-contrast);
  text-decoration: none;
  box-shadow: 0 1px 0 var(--color-shadow);
}

a:hover,
a:focus {
  box-shadow: 0 2px 0 var(--color);
}

@media print {
  a[href*="http"]:not([href*="mattgross.io"])::after {
    content: " (" attr(href) ")";
  }
}

ul,
ol {
  padding-left: var(--spacer);
}

hr {
  background: var(--color-shadow);
  border: none;
  height: 5px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: var(--background);
  margin-top: 0;

  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

section {
  padding: var(--spacer) 0;
}

main {
  flex-grow: 1;
}

.cap-width {
  width: 100%;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.text-light {
  font-weight: 300;
}

.text-sub {
  font-size: 0.67em;
  line-height: 1.5em;
  text-transform: uppercase;
  vertical-align: middle;
}

h2 + div,
.text-sub {
  color: var(--color-low-contrast);
}

.separator {
  width: 1px;
  height: 1em;
  background-color: var(--color-shadow);
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-top: none;
  display: inline-block;
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}

@media (min-width: 800px) {
  .height-half {
    min-height: var(--spacer-vh-third);
  }

  .align-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .sticky {
    position: sticky;
    top: 0;
  }

  .height-half + .sticky {
    top: var(--spacer-vh-third);
  }
}
