:root {
  /* Colors */
  --background: #f4f4f4;
  --background-high-contrast: #fff;
  --background-animated: rgba(200, 200, 200, 0.1);

  --color: #444;
  --color-high-contrast: #222;
  --color-low-contrast: #777;
  --color-shadow: #ccc;

  /* Dark Mode */
  @media (prefers-color-scheme: dark) {
    --background: #333;
    --background-high-contrast: #222;
    --background-animated: rgba(0, 0, 0, 0.05);

    --color: #ddd;
    --color-high-contrast: #fff;
    --color-low-contrast: #aaa;
    --color-shadow: #555;
  }

  /* Layout */
  --spacer-half: 0.75em;
  --spacer: 1.5em;
  --spacer-2x: 3em;
  --spacer-vh-third: 33.33vh;

  /* Transitions */
  --transition-basic: 0.3s ease;

  /* Anti-Vertigo */
  @media (prefers-reduced-motion: reduce) {
    --transition-basic: none;
  }
}
