.animated-bg {
  position: relative;
}

.animated-bg::before,
.animated-bg::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: calc(-200vh + 100px);
  width: 200vh;
  height: 200vh;
  border-radius: 100%;
}

.animated-bg::before {
  animation: 20s var(--swirling-circle);
  background: var(--background-animated);
}

.animated-bg::after {
  animation: 15s var(--swirling-circle);
  background: var(--background-animated);
}
