/**
 * General Styles
 * --------------------------------------------------------
 */
:root {
  color-scheme: light dark;
  color: var(--fg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /* font-style handled by next/font (eye-roll) */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
}

html,
body,
.root {
  min-height: 100dvh;
}

strong {
  color: var(--fg-high-contrast);
}

a {
  color: var(--fg-low-contrast);
  transition: color 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
}

a:hover,
a:focus {
  color: var(--fg-high-contrast);
}

h1,
h2 {
  color: var(--fg-high-contrast);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

.caption {
  font-size: 0.85rem;
}

/* Layout */
.frame {
  /* TODO: Do an outer/frame padding and an inner/item padding */
  padding: var(--frame-outer-padding);
  transition: padding 0.3s ease;
}

@media (max-width: 400px), (max-height: 400px) {
  :root {
    --frame-outer-padding: 1.5em 1em;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

@media (max-width: 600px) {
  .justify-end {
    justify-content: start;
  }

  .align-end {
    align-items: start;
  }
}

.spaced-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  height: 1em;
  width: 1em;
}

/* View Transitions */
@keyframes default-in {
  0% {
    opacity: 0;
  }
}

@keyframes default-out {
  100% {
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation: 0.5s ease both default-out;
}

::view-transition-new(root) {
  animation: 0.5s ease both default-in;
}
