/**
 * General Styles
 * --------------------------------------------------------
 */
:root {
  color-scheme: light dark;
  color: var(--fg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /* font-style handled by next/font (eye-roll) */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
.root {
  min-height: 100dvh;
}

strong {
  color: var(--fg-high-contrast);
}

a {
  color: var(--fg-low-contrast);
  transition: color 0.3s ease;
}

a:hover,
a:focus {
  color: var(--fg-high-contrast);
}

h1,
h2 {
  color: var(--fg-high-contrast);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
}

/* Layout */
.frame {
  padding-block: 3em;
  padding-inline: 2em;
  transition: padding 0.3s ease;
}

@media (max-width: 400px), (max-height: 400px) {
  .frame {
    padding-block: 1.5em;
    padding-inline: 1em;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

@media (max-width: 600px) {
  .justify-end {
    justify-content: start;
  }

  .align-end {
    align-items: start;
  }
}

.spaced-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  height: 1em;
  width: 1em;
}
