:root {
  /* Colors */
  --bg: #f4f4f4;
  --bg-high-contrast: #fff;

  --fg: #444;
  --fg-high-contrast: #222;
  --fg-low-contrast: #777;
  --fg-shadow: #ccc;

  /* Layout */
  --spacer-half: 0.75em;
  --spacer: 1.5em;
  --spacer-2x: 3em;
  --spacer-vh-third: 33.33vh;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1c1c1c;
    --bg-high-contrast: #000;

    --fg: #ddd;
    --fg-high-contrast: #fff;
    --fg-low-contrast: #aaa;
    --fg-shadow: #555;
  }
}

/* Anti-Vertigo */
/* @media (prefers-reduced-motion: reduce) {
  :root {
    --swirling-circle: none;
  }
} */
